{% extends '::front.html.twig' %}

{% block body -%}
<div id="main">
    
    {{ include ('SibudecFrontBundle:Search:menu.html.twig') }}

    <section id="page" class="ariel">
        <article class="ui-accordion ui-widget ui-helper-reset" role="tablist">
            <small>&nbsp;</small>
            <h2>Bases de Datos</h2>
            <h3>
                Áreas Temáticas
            </h3>
            
            <div class="areas-tematicas-wrapper">
                <ul>
                    {% for entity in entities %}
                    <li class="page_item ">
                        {# current_page_item #}
                        <a href="{{ path('search_databases_by_category', { 'id': entity.id }) }}">{{ entity.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <hr>
        </article>
    </section>
</div>
{% endblock %}



