{% extends '::front.html.twig' %}

{% block body -%}
    <div class="content pure-g">
        <div class="content-header pure-g">
            <div class="pure-u-1-2">
                <h2 class="content-title">Áreas temáticas</h2>
                <p class="content-subtitle">
                    Seleccione un área para ver todos las Bases de datos relacionadas.
                </p>
            </div>
        </div>
        <div class="content-body pure-u-1">
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr {{  cycle(['class=pure-table-odd', ''] , loop.index)  }}>
                        <td>
                            <a href="{{ path('search_databases_by_category', { 'id': entity.id }) }}">{{ entity.name }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}