<div id="header">
  <div class="left"><img src="{{ asset('img/udec.gif') }}" /></div>
  <div class="right"><img src="{{ asset('img/sibudec.png') }}" /></div>
</div>

<style type="text/css">
.left {
  float: left;
}
.right {
  float: right;
}
</style>