{% extends '::base.html.twig' %}

{% block body -%}

    <div class="content pure-g">
        <div class="content-header pure-g">
            <div class="pure-u-1-2">
                <h1 class="content-title">Nueva área temática</h1>
                <p class="content-subtitle">
                    
                </p>
            </div>
            <div class="pure-u-1-2 content-controls">
                <a class="pure-button secondary-button" href="{{ path('admin_category') }}">Volver</a>
                <!-- <a class="pure-button secondary-button">Exportar a Excel</a> -->
            </div>
        </div>
        <div class="content-body pure-u-1">
            <form action="{{ path('admin_category_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <p>
                    <button type="submit">Create</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
